In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\lenovo-pc\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: setuptools in c:\users\lenovo-pc\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo-pc\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from mlxtend.frequent_patterns import apriori

In [20]:
dataset = [['I1','I2','I5'],
            ['I2','I4'],
            ['I2','I3'],
            ['I1','I2','I4'],
            ['I1','I3'],
            ['I2','I3'],
            ['I1','I3'],
            ['I1','I2','I3','I5'],
            ['I1','I2','I3']]

In [21]:
dataset

[['I1', 'I2', 'I5'],
 ['I2', 'I4'],
 ['I2', 'I3'],
 ['I1', 'I2', 'I4'],
 ['I1', 'I3'],
 ['I2', 'I3'],
 ['I1', 'I3'],
 ['I1', 'I2', 'I3', 'I5'],
 ['I1', 'I2', 'I3']]

In [6]:
import pandas as pd 
from mlxtend.preprocessing import TransactionEncoder

TranEncod = TransactionEncoder()
te_ary = TranEncod.fit(dataset).transform(dataset)
df=pd.DataFrame(te_ary, columns=TranEncod.columns_)

In [7]:
df

      I1     I2     I3     I4     I5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [8]:
apriori(df,min_support=0.2)

     support   itemsets
0   0.666667        (0)
1   0.777778        (1)
2   0.666667        (2)
3   0.222222        (3)
4   0.222222        (4)
5   0.444444     (0, 1)
6   0.444444     (0, 2)
7   0.222222     (0, 4)
8   0.444444     (1, 2)
9   0.222222     (1, 3)
10  0.222222     (1, 4)
11  0.222222  (0, 1, 2)
12  0.222222  (0, 1, 4)

In [9]:
apriori(df,min_support=0.2,use_colnames=True)

     support      itemsets
0   0.666667          (I1)
1   0.777778          (I2)
2   0.666667          (I3)
3   0.222222          (I4)
4   0.222222          (I5)
5   0.444444      (I1, I2)
6   0.444444      (I1, I3)
7   0.222222      (I1, I5)
8   0.444444      (I3, I2)
9   0.222222      (I2, I4)
10  0.222222      (I2, I5)
11  0.222222  (I3, I1, I2)
12  0.222222  (I1, I2, I5)

In [10]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets['length']= frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support      itemsets  length
0   0.666667          (I1)       1
1   0.777778          (I2)       1
2   0.666667          (I3)       1
3   0.222222          (I4)       1
4   0.222222          (I5)       1
5   0.444444      (I1, I2)       2
6   0.444444      (I1, I3)       2
7   0.222222      (I1, I5)       2
8   0.444444      (I3, I2)       2
9   0.222222      (I2, I4)       2
10  0.222222      (I2, I5)       2
11  0.222222  (I3, I1, I2)       3
12  0.222222  (I1, I2, I5)       3

In [16]:
frequent_itemsets[ (frequent_itemsets['length'] ==2) &
                   (frequent_itemsets['support']>=0.2)]

     support  itemsets  length
5   0.444444  (I1, I2)       2
6   0.444444  (I1, I3)       2
7   0.222222  (I1, I5)       2
8   0.444444  (I3, I2)       2
9   0.222222  (I2, I4)       2
10  0.222222  (I2, I5)       2